nav a:hover {
    background-color: #ffffff0c;
}

/** Main blue **/
::-webkit-scrollbar-thumb {
    background-color: #59a3d6;
}
strong a, h1, footer div a:hover, #ellipsis {
    color: #59a3d6;
}
    
/** Monochrome greys; from lightest to darkest **/
html, a, nav a, strong, h2, h1:hover, section a:hover {
    color: #d4d2b9;
}

html {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(26,39,64,1) 35%, rgba(41,69,116,1) 60%, rgba(89,163,214,1) 100%);
}

.openMenu #ellipsis {
    color: rgba(26,39,64,1);
}

.openMenu {
    background: #1c1c1c;
}
nav, footer div{
    background-color: #1c1c1c;
}