/** Blue for links **/

nav a:hover {
    background: rgba(0, 0, 0, 0.135);
}

/** Main blue **/
::-webkit-scrollbar-thumb{
    background-color: #59a3d6;
}
strong a, h1, #ellipsis {
    color: #59a3d6;
}
    
/** Monochrome greys; from lightest to darkest **/
html, a, h1:hover, section a:hover, h2  {
    color: #616180;
}

html {
    background: white;
}

.menu {
    background: #59a3d6;
}

footer a, .openMenu #ellipsis {
    color: white;
}

.top a:hover {
    color: #616180;
}

.openMenu, footer {
    background: linear-gradient(to top, #616180, #60b3eb);
}

.openMenu footer {
    background: none;
}