html {
    font-family: sans-serif;
    height: 100%;
}

header.default {
    text-align: center;
    position: fixed;
    top: 40%;
    left: 50%;
    width: 100%;
    /* bring your own prefixes */
    transform: translate(-50%, -40%);
}

section {
    position: fixed;
    top: 45%;
    left: 50%;
    width: 75%;
    height: 40%;
    /* bring your own prefixes */
    transform: translate(-50%, -40%);
    overflow-y:scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    box-shadow: transparent;
  }

.about, section {
    padding: 10px;
}

html, header {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
 footer {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.default h1 {
    font-size: 10vh;
}

.default h2 {
    font-size: 5vh;
}

.about h1 {
    font-size: 7vh;
    margin-bottom: 0;
}

.about h2, h3 {
    font-size: 4vh;
}

h3 {
    margin-top: 0;
}

p {
    font-size: 2.5vh;
}

.about h2 {
    margin-top: 0;
}

footer {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;

    margin: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    padding-top: 2vh;
}

button {
    position: absolute;
    right: 2.5vw;
    top: 2.5vh;
    font-size: 8vh;
    background-color: transparent;
    border: transparent;
}

.top {
    display: flex;
    gap: 30px;
    justify-content:center;
    margin: auto;
    padding-top: 1vh;
    padding-bottom: 2vh;
}

nav a {
    text-align: center;
    padding: 2.5vh 10vw 2.5vh 10vw;
    text-decoration: none;
    font-weight: bold;
    font-size: 3vh;
}

a {
    text-decoration: none;
}