html {
    font-family: sans-serif;
    height: 100%;
    overflow:hidden;
}

/* Default */
header.default {
    text-align: center;
    position: fixed;
    top: 40%;
    left: 50%;
    width: 100%;
    /* bring your own prefixes */
    transform: translate(-50%, -40%);
}

section {
    position: fixed;
    top: 45%;
    left: 50%;
    width: 75%;
    height: 40%;
    /* bring your own prefixes */
    transform: translate(-50%, -40%);
    overflow-y:scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
::-webkit-scrollbar-thumb {
border-radius: 4px;
box-shadow: transparent;
}

.about, section {
    padding: 10px;
}

body, h1 {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
footer, html {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.about h1 { margin-bottom: 0; }

h3 { margin-top: 0; }

p { font-size: 2.5vh; }

.about h2 { margin-top: 0; }

button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.top {
    display: flex;
    gap: 30px;
    justify-content:center;
    margin: auto;
    padding-top: 1vh;
    padding-bottom: 2vh;
}

nav a {
    text-align: center;
    padding: 2.5vh 10vw 2.5vh 10vw;
    text-decoration: none;
    font-weight: bold;
}

#mode { padding: 0; }

a { text-decoration: none; }

/* Non-mobile */
@media screen and (min-width: 400px) {
    /* On main only */
    section { top: 45%; }

    .default h1 { font-size: 10vh; }

    .default h2, #mode  { font-size: 5vh; }

    .about h1 {
        font-size: 7vh;
        margin-top: 0;
    }

    .about h2, h3 { font-size: 4vh; }

    footer {
        position: fixed;
        bottom: 0%;
        left: 0%;
        width: 100%;
        margin: 0;
    }
    
    nav {
        display: flex;
        justify-content: space-evenly;
        overflow: hidden;
        padding-top: 2vh;
    }

    nav a { font-size: 3vh; }
    
    .default #mode { font-size: 10vh; }

    #mode.about { display: block; }

    #ellipsis { display: none; }
   
}

@media screen and (max-width: 399px) {
    /* Mobile only */
    .default h1, #ellipsis, #mode {
        font-size: 6vh;
    }

    h2, .about h1, h3, nav a {
        font-size: 3vh;
    }

    #ellipsis {
        position: fixed;
        top: 25px;
        right: 25px;
        padding: 10px 20px 10px 20px;
    }

    footer {
        text-align: center;
        position: fixed;
        top: 40%;
        left: 50%;
        width: 100%;
        /* bring your own prefixes */
        transform: translate(-50%, -40%);
    }

    footer a { display: block; }
}

